*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    background-color: whitesmoke;
}
.Navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    
}
li {
    float: left;
}
.Home{
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
.mainpic{
    width: 1250px;
    height: 800px;
}